{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды:</p>
        <div class="reset_form">
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" class="button2" value="Сменить пароль" /></p>
            </form>
        </div>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, потому что
        уже была использована. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}
{% endblock %}