<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<p id="u3700-25">Ошибка 400 (Bad Request)</p>
{{exeption}}
<div id="u3870-30">
	<p>Причины появления ошибки 400:</p>
	<p style="text-indent: 25px;">Доступ к странице заблокирован антивирусом, файрволом или оборудованием интернет-провайдера сети, через которую вы обращаетесь к сайту. Проблема может появиться после обновления системы безопасности, когда меняются ее настройки.</p>
	<p style="text-indent: 25px;">Владелец сайта неверно настроил правила перенаправления в используемых на сайте скриптах или в конфигурации веб-сервера.</p>
	<p style="text-indent: 25px;">Посетителем сайта действительно допущена синтаксическая ошибка (которая делает введённый в браузере адрес неверным URL с точки зрения сервера).</p>
	<br><p>Способы устранения ошибки 400 Bad Request:</p>
	<p style="text-indent: 25px;">очистите кеш и куки браузера;</p>
	<p style="text-indent: 25px;">проверьте настройки антивируса и брандмауэра;</p>
	<p style="text-indent: 25px;">проверьте не заблокирован ли сайт интернет-провайдером.</p>
</div>
{% endblock content %}